<header>
    <h2 class="hidden">
        Header Bar
    </h2>
    <div class="header-top">
        <img class="logo" :src="logo.url" :alt="logo.alt"/>
    </div>
    <div class="header-mid">
    <nav class="header-nav">
        <h3 class="hidden">Navigation</h3>
            <ul>
                <li class="link" v-for="link in links">
                    <a :href="link.url" v-text="link.name"></a>
                    <div class="sublink-box" v-if="link.sublinks !== null">
                        <div v-for="sublink in link.sublinks">
                            <div class="sublink">
                                <a :href="sublink.url" v-text="sublink.name"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-bot">
        <div class="tri-left"></div>
        <div class="tri-right"></div>
    </div>
</header>