<header>
    <h2 class="hidden">
        Header Bar
    </h2>
    <div class="header-top">
        <img class="logo" :src="logo.url" :alt="logo.alt"/>
    </div>
    <div class="header-mid">
        <img class="burger" :class="{ 'burger-active': burger.active }" :src="burger.url" :alt="burger.alt" @click="burger.active = !burger.active;">
        <nav class="header-nav" :class="{'mobile-show': burger.active}">
            <h3 class="hidden">Navigation</h3>
            <ul class="header-links">
                <li class="link" v-for="link in links">
                    <a :href="link.url" v-text="link.name"></a>
                    <div class="sublink-box" v-if="link.sublinks !== null">
                        <div class="sublink" v-for="sublink in link.sublinks">
                            <a :href="sublink.url" v-text="sublink.name"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-bot">
        <div class="tri-left"></div>
        <div class="tri-right"></div>
    </div>
</header>