@import "../_vars.scss";



header {
    position: fixed;
    width: 100%;
    height: 305px;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .header-top {
    background-color: #2b2d42;
    width: 100%;
    height: 90px;
    overflow: visible;
    display: flex;
    justify-content: center;
  
    .logo {
      width: 330px;
      height: 215px;
      margin: 0 auto;
      margin-top: 5px;
      left: 50%;
      right: 50%;
      z-index: 5;
    }
  }
  
  .header-mid {
    background-color: #8d99ae;
    height: 20px;
    padding-top: 15px;
    width: 100%;
  }
  
  .burger {
    position: absolute;
    width: 50px;
    height: auto;
    top: 15px;
    left: 15px;
  }
  
  .header-links {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .link {
    flex: 0 1 200px;
    vertical-align: middle;
    background-color: #fff;
    color: #707070;
    font-family: industry-inc-base,sans-serif;
    size: 30px;
    border: solid 1px #707070;
    height: 10px;
    padding: 15px 5px;
    overflow: hidden;
    transition: .5s;
    text-align: center;
    z-index: 1;
  
    &:hover {
      background-color: gray;
      color: #2b2d42;
      border: solid 1px #2b2d42;
      overflow: visible;
    }
  }
  
  .sublink-box {
    display: relative;
    height: auto;
    padding-top: 15px;
  }
  
  .sublink {
    flex: 0 1 200px;
    background-color: #fff;
    color: #707070;
    border: solid 1px #707070;
    font-family: industry-inc-base,sans-serif;
    size: 20px;
    height: 10px;
    padding: 15px;
    text-align: center;
  
    &:hover {
      background-color: #8d99ae;
      color: #2b2d42;
      border: solid 1px #2b2d42;
    }
  }
  
  li:nth-child(4) {
    margin-left: 200px;
  }
  
  .header-bot {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    z-index: -2;
  
    .tri-left {
      background-image: linear-gradient(to right bottom, #8D99AE 0%, #8D99AE 50%, transparent 50%);
      position: absolute;
      width: 100%;
      height: 80px;
    }
  
    .tri-right {
      background-image: linear-gradient(to left bottom, #8D99AE 0%, #8D99AE 50%, transparent 50%);
      position: absolute;
      width: 100%;
      height: 80px;
    }
  }
  
@media screen and (min-width: 750px) {

}


@media screen and (min-width: 900px) {

}