.video-player {
    width: 100%;
    background-color: black;
    height: 1000px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: -50px;
    margin-top: 50px;
}