.resources {
    margin-top: 230px;
}

.resources-title {
    color: white;
    font-family: $header-font;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.resources-content {
    margin-top: 200px;
}

.resources-content p{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.resource {
    color: white;
}
.resource-description {
    margin-top: 500px;
    color: white;
}