.socials {
    margin-top: 250px;
}

.social-title {
    text-align: center;
    font-family: $header-font;
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
}

.social-photo {
    width: 100%;
}

.social-description {
    text-align: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: white;
    font-size: 22px;
    width: 250px;
}

.social-button {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    vertical-align: center;
    font-family: $header-font;
    color: $grey;
    border-color: black;
    border-style: solid;
    width: 150px;
    height: 30px;
}

@media screen and (min-width: 750px) {


    .socials {
        margin-top: 350px;
    }

    .social-title {
        font-size: 34px;
    }
    
    .social-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .social-description {
        width: 650px;
        margin-top: 60px;
        font-size: 34px;
        line-height: 40px;
    }

    .social-button {
        display: none;
    }


}