.volunteering{
    margin-top: 250px;
}

.volun-title {
    color: white;
    font-size: 28px;
    font-family: $header-font;
    text-align: center;
    margin-bottom: 70px;
}

.volun-form-item {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.volun-form-item label {
    margin-bottom: 15px;
    color: white;
    font-family: $header-font;
    font-size: 20px;
    text-align: center;
}

.volun-form-item input {
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#message {
    height: 200px;
}

.volun-button {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    vertical-align: center;
    font-family: $header-font;
    color: $grey;
    border-color: black;
    border-style: solid;
    width: 150px;
    height: 30px;
}

@media screen and (min-width: 750px) {
    .volun-form-item input {
        width: 60%;
        height: 60px;
    }
}

@media screen and (min-width: 1030px) {
    .volun-form-item input {
        width: 35%;
        height: 70px;
    }
}