.hidden {
    display: none;
}

// colors
$white: white;
$light-blue: #8D99AE;
$grey: #707070;
$dark-blue: #2B2D42;
$light-grey: #EDF2F4;
$black: black;

$header-font: industry-inc-base, sans-serif;
$header-font-3d: industry-inc-3d, sans-serif;
$main-font: Helvetica, Arial, sans-serif;