// sass --watch public/styles/sass:public/styles/css --style compressed

@import "_reset.scss";
@import "_vars.scss";
@import "pages/_events.scss";
@import "pages/_gethelp.scss";
@import "pages/_give.scss";
@import "pages/_home.scss";
@import "pages/_resources.scss";
@import "pages/_socialmedia.scss";
@import "components/_videoplayer.scss";
@import "components/_header.scss";
@import "components/_footer.scss";

.coming-soon {
    font-family: $header-font-3d;
    font-size: 65px;
    color: $dark-blue;
    padding: 10%;
    text-align: center;
}



body {
    background-image: url("../images/pawp-bg.svg");
}