@import "../vars.scss";

.top-video {
    margin: -50px auto 0px auto;
    display: block;
    max-width: 1020px;
    height: auto;
}

.greeting {
    width: 90%;
    background-color: $dark-blue;
    color: white;
    font-family: $main-font;
    font-size: 22px;
    line-height: 30px;
    padding: 5%;
    padding-bottom: 0%;
    margin-top: 50px;
}

.greeting-title {
    font-family: $header-font;
    font-size: 45px;
    text-align: center;
    margin: 10px;
}

.greeting-contents {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 0px;
}

.greeting-contents div {
    margin: 10px;
    margin-bottom: 0px;
}

.greeting-bot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.greeting-bot .tri-left {
    position: absolute;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right bottom, $dark-blue 0%, $dark-blue 50%, transparent 50%);
}

.greeting-bot .tri-right {
    position: absolute;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to left bottom, $dark-blue 0%, $dark-blue 50%, transparent 50%);
}

.campaign {
    background-color: $light-grey;
    padding: 8%;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
}

.hero-photo {
    display: block;
    flex: 0 1 575px;
    height: auto;
}

.campaign-text {
    color: $dark-blue;
    font-family: $main-font;
    font-size: 22px;
    padding: 8%;
}

.campaign-title {
    font-family: $header-font;
    font-size: 45px;
    padding-bottom: 30px;
}

.help {
    background-color: $light-blue;
    padding: 5% 8%;
    display: flex;
    flex-direction: row;
}

.help-content {
    color: $dark-blue;
    font-family: $main-font;
    size: 22px;
    padding: 30px;
}

.help-title {
    font-family: $header-font;
    font-size: 45px;
    margin-bottom: 50px;
}

.photo-wrapper {
    display: block;
    flex: 0 1 750px;
}

.help-photo {
    display: block;
    flex: 0 1 750px;
    height: auto;
}

.help-more {
    padding-top: 5%;
    margin-left: 90%;
    width: 100px;
}

.help-more a {
    color: $dark-blue;
    font-family: $main-font;
    size: 22px;
}

.social-media {
    width: 60%;
    background-color: white;
    padding: 8% 20%;
}

.social-media-title {
    font-size: 45px;
    color: $dark-blue;
    font-family: $main-font;
    margin-bottom: 50px;
    text-align: center;
}

.social-media-icons {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.social-media-icons div {
    flex: 1 1 50px;
    padding: 5px;
}

.social-media-icon {
    width: 100px;
    height: auto;
}